VM_ID=9000
TEMPLATE_SSH_PUBLIC_KEY="ssh-ed25519 AAAAC3 some@email"

STORAGE=local-lvm
BRIDGE=vmbr0

MEMORY=2048
CORES=2
DISK_SIZE=20G

IMG_DIR=/var/lib/vz/template/cache
VM_NAME=ubuntu-24.04-cloudinit-template
